@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: black;
	--light: white;
}

body {
	margin: 0;
	height: 100vh;
}

.light {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)
}

.dark {
	background: rgb(238,174,202);
	background: radial-gradient(circle, #38212b 0%, rgb(47, 60, 75) 100%)
}
