<!DOCTYPE html>
<html>
<head>
    {{ template "head" "Ionize"}}
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/"><i class="top-icon top-current" data-feather="home"></i></a></li>
          <li><a href="/discover"><i class="top-icon" data-feather="compass"></i></a></li>
          <li><a href="/interacted"><i class="top-icon" data-feather="archive"></i></a></li>
          <li><a href="/important"><i class="top-icon" data-feather="alert-circle"></i></a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        {{ if .Username }}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/settings">Settings</a></li>
            <li><a class="dropdown-item" href="{{ .ProfileLink }}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
        {{ .Username }}
        {{ else }}
        <div class="text-end">
          <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="/sign-up"><button type="button" class="btn btn-warning">Sign-up</button></a>
        </div>
        {{ end }}
      </div>
    </div>
  </header>

  <main>
      {{ if .Notification }}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Logged in as: {{ .Notification }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{ end }}

      {{ if .Username }}
      <div class="content new-post">
	<center>
          <form action="/post/entry" method="post">
            <label for="context">Status</label>
            <textarea id="context" name="context" rows="4" cols="50" placeholder="Write anything..."></textarea>

            <br>

            <label for="eventdate">Event date</label>
            <input type="date" id="eventdate" name="eventdate">

            <br>

            <label for="eventlocation">Event location</label>
            <input type="text" id="eventlocation" name="eventlocation">

            <br>

            <input type="submit" value="Post it">
          </form>
	</center>
      </div>
      {{ else }}
      You are not logged in!
      {{ end }}
  </main>
  {{ template "footer" }}
</body>
</html>
