{{define "head"}}
    <title>{{ . }}</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <link href="/res/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC">
    <link href="/res/main.css" rel="stylesheet">
    <script src="/res/js/feather.min.js"></script>
{{end}}

{{define "copyright"}}
&copy; 2021
{{end}}

{{define "footer"}}
    <footer class="my-5 pt-5 text-white text-center text-small">
        <p class="mb-1">All rights reserved {{ template "copyright" }}. DUGA-1 IONIZE</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
            <li class="list-inline-item"><a href="/terms">Terms</a></li>
            <li class="list-inline-item"><a href="/support">Support</a></li>
        </ul>
    </footer>
    
    <script>
        feather.replace()
    </script>
    
    <script src="/res/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"></script>
{{end}}
